@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">
        <h2>Welcome to Our Library</h2>
        <a href="/User/Login" class="button">Login</a>
        <a href="/User/Register" class="button">Register</a>
        <a href="/User/ShowBookDetails" class="button">Show All Books</a>
    </div>
</body>
</html>
